.user-icon {
    font-size: 40px;  /* Taille de l'icône */
    color: #333;      /* Couleur de l'icône */
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .user-icon:hover {
    color: #007bff;   /* Couleur au survol */
  }
  
  a {
    text-decoration: none;  /* Enlève la sous-ligne du lien */
  }
  